body {
  background-image: url(../img/background.jpg);
  background-size: 100vmax;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 75px;
  text-align: center;
  margin-bottom: -30px;
}

h2 {
  padding-top: -100px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.btn-light {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif; 
}

.form-control {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

#output {
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: #ED7571;
}

.no-show {
  display: none;
}

img {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: block;
  margin-left: 40%;
  margin-right: auto;
}

.btn-primary {
  font-family: 'Open Sans', sans-serif;
  margin-left: 33%;
  margin-right: auto;
}