body {
  /* background-image: url(../img/patrick-robert-doyle-yUvZYHV2Zbw-unsplash.jpg);
  background-size: 100%; */
  padding: 180px;
}

h1 {
  font-family: 'Ultra', serif;
  /* color: white; */
  font-size: 100px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  /* color: aliceblue; */
}

.btn {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
}